 <!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta div="viewport" content="initial-scale=1, width=device-width">
        <title>HackerLife</title>
    </head>
    <body style="background-color: black;">

       
      <div class="topnav" style="width: 100%; height: 100px; margin-bottom: 1%;">
        <form action="/" method="GET">
          <div class="form-group">
            <button type="submit" class="btn btn-danger form-control" style="width: 15%; margin-top:2%; 
 height: 70px; margin-left: 4%; font-size: 3vw; float: left; margin-bottom: 1%;">Home</button>
            </div>
        </form>
      </div>
      <div style="font-size: 8vw; color: white; text-align: center; margin-bottom:5%;">HackerLife</div>
     <div style="color:white; font-size: 3vw; margin-left:5%; margin-bottom: 4%;">Welcome to the LottoLife
      
</div><br>

      <div style="color: white; font-size: 4vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%">
        <div>Enter to win 2,000,000,000$ in the Abhijayism Centre Lottery</div>
        <div>Price: 500$</div><br>
        <div style="font-size: 2vw;">You will need to spend 500$ on a lottery ticket, if you would like to participate in the lottery to win 2 Billion Dollars sponsored by The Abhijayism Centre. You have a 1 in 500 chance of winning 2 Billion Dollars.</div>
        
        <form action="/lotteries" method="POST">
        <div class="form-group">
          
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 96%; margin-bottom: 5%; margin-top:3%;" name="id" value="1">Buy a ticket to the Abhijayism Centre Lottery</button>
          </div>
      </form>
      
      </div><br>
      <div style="color: white; font-size: 4vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%">
        <div>Enter to win a 24k Gold Plated Suit, A Designer Sarveshwar's Suits Special</div>
        <div>Price: 1,000$</div><br>
        <div style="font-size: 2vw;">You will need to spend 1,000$ on a lottery ticket, if you would like to participate in the lottery to win a 24k Gold Plated Suit, A Designer Sarveshwar's Suits Special sponsored by Sarveshwar's Suits. You have a 1 in 1000 chance of winning a 24k Gold Plated Suit made by Sarveshwar Suits.</div>
        <form action="/lotteries" method="POST">
        <div class="form-group">
                   
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 96%; margin-bottom: 5%; margin-top:3%;" name="id" value="2">Buy a ticket to the Sarveshwar's Suits Lottery</button>
          </div>
          
      </form>
      </div><br>
      <div style="color: white; font-size: 4vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%">
        <div>Enter to win 10,000,000,000$ in the Lucky Man's Lottery</div>
        <div>Price: 1,000$</div><br>
        <div style="font-size: 2vw;">You will need to spend 1,000$ on a lottery ticket, if you would like to participate in the lottery to win 10 Billion Dollars in the Lucky Man's Lottery sponsored by Malaz O' Software. You have a 1 in 1,000 chance of winning a whopping 10 Billion Dollars with an amazing HackerLife PC.</div>
        <form action="/lotteries" method="POST">
        <div class="form-group">
                   
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 96%; margin-bottom: 5%; margin-top:3%;" name="id" value="3">Buy a ticket to the Lucky Man's Lottery</button>
          </div>
          
      </form>
      </div><br>
      <div style="color: white; font-size: 4vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%">
        <div>Enter to win Liam's Swim Goggles which will give you an extra 400,000$ per mission</div>
        <div>Price: 2,000$</div><br>
        <div style="font-size: 2vw;">You will need to spend 2,000$ on a lottery ticket, if you would like to participate in the lottery to win Liam's Swim Goggles. You have a 1 in 300 chance of winning a Liam's Swim Goggles.</div>
        <form action="/lotteries" method="POST">
        <div class="form-group">
                   
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 96%; margin-bottom: 5%; margin-top:3%;" name="id" value="4">Buy a ticket to try to win Liam's Swim Goggles</button>
          </div>
          
      </form>
      </div><br>
       
      
       
    </body>
</html>