<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>HackerLife</title>
    </head>
    <body style="background-color: black;">
    {% if sentence != None %}
      <div style="font-size: 4vw; color: white; text-align: center;">{{sentence}}</div>
      {% endif %}
      <script>
        document.body.addEventListener("keydown", function (event) {
    if (event.key === "Tab") {
        window.location.replace("/mod");
    }
});
      </script>
      <div class="topnav" style="width: 100%; height: 100px; margin-bottom: 1%;">
        <form action="/logout" method="GET">
          <div class="form-group">
            <button type="submit" class="btn btn-danger form-control" style="width: 15%; margin-top:2%; 
 height: 70px; margin-left: 4%; font-size: 3vw; float: left; margin-bottom: 1%;">Log Out</button>
            </div>
        </form>
      </div>
      <div style="font-size: 8vw; color: white; text-align: center; margin-bottom:5%;">HackerLife</div>
      <div style="width:100%;">
     
        <div style="width: 30%; color: white; font-size: 3vw; float: left; margin-left: 5%; color: #90EE90;">Money: {{money}}$</div>
        
        <div style="width: 30%; color: #1E90FF; font-size: 3vw; float: left;">Username: {{username}}</div>
        
        <div style="width: 30%; color: yellow; font-size: 3vw; float: right; text-align: center; ">Experience: {{experience}}</div>
      </div>
         {% if player1 != None and player1 != "" %}
       <div style="color: white; font-size: 3vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; ">
        <div>Current Duel: {{player1}} - {{player2}}</div>
    
      </form>
      </div><br>
      {% endif %}
      <form action="/dotask" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-success form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-top: 5%;">Start Mission</button>
      </form>
      <form action="/awards" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-warning form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-top:3%;">Visit HackerLife Awards</button>
      </form>
      <form action="/store" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-top:3%;">Visit Store</button>
      </form>
      <form action="/viewitems" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-top:3%; margin-bottom: 3%;">My Inventory</button>
      </form>

      <form action="/lotteries" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-warning form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-top:3%; margin-bottom: 3%;">Buy Lottery Tickets</button>
      </form>
      <form action="/bank" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;   margin-bottom: 3%;">Bank Loans</button>
      </form>
         <form action="/challengeduel" method="POST">
        <div class="form-group">
          
            <input placeholder="Bet on Duel (Minimum: 1000$)" type="text" name="amount" id="amount" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;">
          <input placeholder="Username (Case Insensitive)" type="text" name="username" id="username" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 1%;">
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 3%;">Challenge Duel </button>
      </form>
       <form action="/mainduel" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;   margin-bottom: 3%;">Current Duel</button>
      </form>
       <form action="/transfermoney" method="POST">
        <div class="form-group">
          
            <input placeholder="Amount to Transfer(Minimum: 2000$) + Fee of 500$" type="text" name="amount" id="amount" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;">
          <input placeholder="Username (Case Insensitive)" type="text" name="username" id="username" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 1%;">
          <button type="submit" class="btn btn-success form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 3%;">Transfer Money</button>
      </form>
      <form action="/giveitems" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">Give Item</button>
        </div>
      </form>
      <form action="/gamble" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">Gamble</button>
        </div>
      </form>
      <form action="/requestitem" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-warning form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">Request Items</button>
        </div>
      </form>
      <form action="/inbox" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">View Inbox</button>
        </div>
      </form>
        <form action="/requestmoney" method="POST">
        <div class="form-group">
          
            <input placeholder="Amount to Request" type="text" name="amount" id="amount" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; ">
          <input placeholder="Username(Case Insensitive)" type="text" name="username" id="username" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%; margin-bottom:1%;  width: 94%; ">
     
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 1%;">Request Money</button>
      </form>
      </form>
      <form action="/blockuser" method="POST">
        <div class="form-group">
        
          <input placeholder="Username (Case Insensitive)" type="text" name="username" id="username" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 1%;">
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 3%;">Block User</button>
      </form>
       <form action="/unblockuser" method="POST">
        <div class="form-group">
        
          <input placeholder="Username (Case Insensitive)" type="text" name="username" id="username" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 1%;">
          <button type="submit" class="btn btn-success form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom: 3%;">Unblock User</button>
      </form>
      <form action="/leaderboard" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-success form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">Leaderboard</button>
        </div>
      </form>
      <form action="/stats" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-warning form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">HackerLife Statistics</button>
        </div>
      </form>
      <form action="/allusers" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-success form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 5%;">View All Users</button>
        </div>
      </form>
      <form action="/changepassword" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">Change Password</button>
        </div>
      </form>

      <form action="/suggest" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">Suggest a Feature</button>
        </div>
      </form>

          <form action="/reportuser" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 1%;">Report a Player</button>
        </div>
      </form>

      <form action="/reportbugs" method="GET">
        <div class="form-group">
          
          <button type="submit" class="btn btn-danger form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%;  margin-bottom: 5%;">Report a Bug</button>
        </div>
      </form>

    </body>
</html>