 <!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta div="viewport" content="initial-scale=1, width=device-width">
        <title>HackerLife</title>
    </head>
    <body style="background-color: black;">

       
      <div class="topnav" style="width: 100%; height: 100px; margin-bottom: 1%;">
        <form action="/" method="GET">
          <div class="form-group">
            <button type="submit" class="btn btn-danger form-control" style="width: 15%; margin-top:2%; 
 height: 70px; margin-left: 4%; font-size: 3vw; float: left; margin-bottom: 1%;">Home</button>
            </div>
        </form>
      </div>
      <div style="font-size: 8vw; color: white; text-align: center; margin-bottom:5%;">HackerLife</div>
     <div style="color:white; font-size: 3vw; margin-left:5%; margin-bottom: 4%;">Welcome to the Special HackerLife Store
      
</div><br>

      <div style="color: white; font-size: 4vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%">
        <div>5,000 HackerLife Bucks</div>
        <div>Price: 0.99$ + Taxes</div><br>
        
        <form action="/buymoney" method="POST">
        <div class="form-group">
          
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 96%; margin-bottom: 5%; margin-top:3%;" name="id" value="1">Buy 5,000 HackerLife Bucks</button>
          </div>
      </form>
      
      </div><br>
      <div style="color: white; font-size: 4vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%">
        <div>15,000 HackerLife Bucks</div>
        <div>Price: 4.99$ + Taxes</div><br>
        <form action="/buymoney" method="POST">
        <div class="form-group">
                   
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 96%; margin-bottom: 5%; margin-top:3%;" name="id" value="2">Buy 15,000 HackerLife Bucks</button>
          </div>
          
      </form>
      </div><br>
      <div style="color: white; font-size: 4vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%">
        <div>25,000 HackerLife Bucks</div>
        <div>Price: 7.99$ + Taxes</div><br>
        <form action="/buymoney" method="POST">
        <div class="form-group">
                   
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 96%; margin-bottom: 5%; margin-top:3%;" name="id" value="3">Buy 25,000 HackerLife Bucks</button>
          </div>
          
      </form>
      </div><br>
      <div style="color: white; font-size: 4vw; padding-left: 5%; background-color: #191970; margin-left: 3%; margin-right: 3%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%">
        <div>70,000 HackerLife Bucks</div>
        <div>Price: 14.99$ + Taxes</div><br>
        <form action="/buymoney" method="POST">
        <div class="form-group">
                   
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 96%; margin-bottom: 5%; margin-top:3%;" name="id" value="4">Buy 70,000 HackerLife Bucks</button>
          </div>
          
      </form>
      </div><br>
       
      
       
    </body>
</html>